<h1>Signalr Monitor</h1>

<p>{{signalrlog}}</p>

<p *ngIf="!forecasts"><em>Wait for a connection ...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Time</th>
            <th>TaskID</th>
            <th>Event</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.time }}</td>
            <td>{{ forecast.task }}</td>
            <td>{{ forecast.text }}</td>
         
        </tr>
    </tbody>
</table>
